<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Tranitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="myComptabilityApp">
  <head>
    <meta charset="utf-8">
    <title>My comptability</title>
    <script type="text/javascript" src="AngularLib/angular.js"></script>
    <script type="text/javascript" src="comptability.js"></script>    
  </head>
  <body ng-controller="mycontrollertest">

    <div>                                
        <Br/>
Search : <input ng-model="query" type="text"/>

        <table style="width:100%">
            <tr>
                <th><a href="" ng-click="sortField = 'wDescription'">Description</a></th>
                <th><a href="" ng-click="sortField = 'wAmount'">Montant</a></th>
                <th><a href="" ng-click="sortField = 'wDateTime'">Date de valeur</a></th>
                <th><a href="" ng-click="sortField = 'wType'">Type</a></th>
            </tr>
            <tr ng-repeat="Record in Records | filter:query | orderBy:sortField">
                <td>{{Record.wDescription}}</td>
                <td>{{Record.wAmount}}</td>
                <td>{{Record.wDateTime}}</td>
                <td>{{Record.wType}}</td>
            </tr>
        </table>    
        <form ng-submit="AddRecord()">
            <input id="DescriptionId" type="text" ng-model⁼"wDescription"></input>
            <input id="AmountId" type="text" ng-model⁼"wAmount"></input>
            <input id="DateTimeId" type="text" ng-model⁼"wDateTime"></input>
            <input id="TypeId" type="text" ng-model⁼"wType"></input>
            <input id="RecordAddId" type="submit" value="Add"></input>
        </form>
    </div>

  </body>
</html>
